<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css"/>


<p>base</p>

<div class="box_container">
    <ul>
        % for users in holders:
        <div class="data">
            % for entry in users:
                <p>{{entry}} </p>
                <br>
            %end
        </div>
        %end
    </ul>
    {{info}}
    <div id="info" class="data">
        <div class="name">
            <p id="name_text">name</p>
        </div>
        <div class="address">
            <p id="address_text">address</p>
        </div>
        <div class="ip">
            <p id="ip_text">ip</p>
        </div>
        <div class="activity">
            <p id="activity_text">activity</p>
        </div>
        <div class="length">
            <p id="length_text">length</p>
        </div>
        <p id="test_number">To be updated</p>
    </div>
 
    <p id="users">Users:</p>
</div>



<script>
    var test_variables = {};
    test_variables.number="{{ bottle_var }}";
    function increase(){
        test_variables.number++;
        document.getElementById("test_number").textContent=(test_variables.number);
    }

   
    

</script>


</html>