<body>

    <div class="header">
        <h1>Karibak - Borgeroversigt</h1>
    </div>

    <div class="dashboard">
        <!-- stuff fra DB -->
        <div class="dashboard-item">
            <img src="https://clipartmag.com/image/tooth-drawing-13.png" alt="Birger" width="50" height="40">
            <div class="dashboard-item-text">Birger</div>
        </div>
        <div class="dashboard-item">
            <img src="https://clipartmag.com/image/tooth-drawing-13.png" alt="Bente" width="50" height="40">
            <div class="dashboard-item-text">Bente</div>
        </div>
        <div class="dashboard-item">
            <img src="https://clipartmag.com/image/tooth-drawing-13.png" alt="Birgit" width="50" height="40">
            <div class="dashboard-item-text">Birgit</div>
        </div>
        <!-- Stuff fra DB -->
    </div>

</body>
</html>
