</head>
<body>

    <div class="header">
        <img src="https://clipartmag.com/image/tooth-drawing-4.png" alt="Left Image">
        <h1>Login Page</h1>
        <img src="https://clipartmag.com/image/tooth-drawing-4.png" alt="Right Image">
    </div>

    <div class="login-container">
        <input type="text" class="login-input" placeholder="Username">
        <input type="password" class="login-input" placeholder="Password">
        <button class="login-button">Login</button>
    </div>

</body>
</html>
