
<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css"/>


<body>
<div class="container">
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <br>
            <input type="text" class="form-control" id="Username" name="username">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <br>
            <input type="password" class="form-control" id="Password" name="password">
        </div>
        <button type="submit" class="btn-primary-login">Login</button>
    </form>
    <br/>

</div>

</body>


