</head>
<body>

    <div class="header">
        <img src="https://clipartmag.com/image/tooth-drawing-4.png" alt="Left Image" width="50" height="50">
        <h1>Indstillinger</h1>
        <img src="https://clipartmag.com/image/tooth-drawing-4.png" alt="Right Image" width="50" height="50">
    </div>

    <div class="login-container">
        <div class="input-container">
            <label class="input-label" for="brugernavn">Borgernavn:</label>
            <input type="text" id="brugernavn" class="input-box">
        </div>

        <div class="input-container">
            <label class="input-label" for="password">Addresse:</label>
            <input type="password" id="password" class="input-box">
        </div>

        <div class="toggle-container">
            <span class="toggle-label">Placeholder:</span>
            <label class="toggle-switch">
                <input type="checkbox">
                <span class="toggle-slider"></span>
            </label>
        </div>

        <div class="toggle-container">
            <span class="toggle-label">Placeholder:</span>
            <label class="toggle-switch">
                <input type="checkbox">
                <span class="toggle-slider"></span>
            </label>
        </div>

        <button class="login-button">Gem</button>

    </div>

</body>
</html>