<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css"/>

<p>OTP code sent. Check email associated with user trying to log in.</p>
<body>
    <div class="container">
        <form id="verify_form" action="/verify/{{ username }}" method="post">
            <div class="mb-3">
                <label for="Password" class="form-label">OTP Code</label>
                <br>
                <input type="password" class="form-control" id="Number" name="number">
            </div>
            <button type="submit" class="btn-primary-login">Login</button>
        </form>
        <br/>
    
    </div>
    
    </body>
    


